/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 oct. 2024, 1:48:37 a. m.
    Author     : Nicole
*/

/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

/* Return Button */
.return {
    position: absolute;
    top: 20px;
    left: 20px;
}

.return a {
    color: #333;
    font-size: 7vh;
    text-decoration: none;
}

.return a:hover {
    color: orange;
}


/* Form section */
section {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Input box styling */
.inputbox {
    position: relative;
    margin-bottom: 20px;
}

.inputbox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #aaa;
    pointer-events: none;
    transition: 0.5s;
}

.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
    top: -5px;
    color: orange;
    font-size: 12px;
}

.inputbox input:focus {
    border-color: orange;
}

.inputbox ion-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 20px;
    color: #aaa;
}

/* Button styling */
button {
    width: 100%;
    background-color: orange;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: darkblue;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    section {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 16px;
    }
}
